body {
    padding: 1rem;
}

.button {
    border: solid;
    border-width: 1px;
    border-color: black;
}

h1 {
    border-color: white;
    border-width: 1px;
    text-align: center;
}

body {
    background-color: tan
}